---
layout: default
title: 吉川茶褒
---

{% for post in site.posts limit: 5 %}
  <div class="post">
    <div class="head">
      <h3 class="title">
        <a href="{{post.url}}" rel="bookmark" title="Permanent Link to
          {{post.title}}">{{post.title}}</a>
      </h3>
      <div class="date">@ {{post.date | date: "%a %b %d %Y"}}</div>
    </div>
    <div class="content">
      {{post.content}}
    </div>
    <hr class="post-end" />
  </div>
{% endfor %}

{% if site.posts.size > 5 %}
<a href="/archive.html" class="more-posts">More >></a>
{% endif %}
