.clearboth {
  clear: both; }

.more-posts {
  font-size: 18px; }

.date {
  font-size: 14px; }

.tweetbtn {
  margin-top: 10px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  background-color: #fcfcfc; }

#header #site-title {
  float: left; }
  #header #site-title h1 {
    margin-bottom: 16px; }
    #header #site-title h1 a {
      color: #555555; }
      #header #site-title h1 a:hover {
        text-decoration: none;
        border-bottom: 3px solid #fee3e9; }
  #header #site-title h4 {
    color: #787878;
    line-height: 1em;
    margin-bottom: 16px; }
#header #site-nav {
  float: right; }
  #header #site-nav ul {
    padding-top: 16px;
    list-style: none; }
    #header #site-nav ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 5px; }
      #header #site-nav ul li.first {
        padding-left: 0; }
      #header #site-nav ul li.right {
        padding-right: 0; }
      #header #site-nav ul li a {
        color: #666666;
        text-transform: uppercase; }
        #header #site-nav ul li a:hover {
          text-decoration: none;
          border-bottom: 3px solid #fee3e9; }

#content {
  margin-bottom: 24px; }
  #content .post {
    overflow: hidden;
    clear: both;
    padding-bottom: 20px; }
    #content .post .head {
      padding: 3px 0 6px 4px; }
      #content .post .head .title {
        margin: 3px 0 4px;
        padding-bottom: 4px;
        font-weight: bold;
        height: 22px;
        font-size: 22px; }
        #content .post .head .title a {
          color: black; }
          #content .post .head .title a:hover {
            text-decoration: none;
            border-bottom: 3px solid #fee3e9; }
    #content .post .content {
      padding-top: 12px; }
      #content .post .content p {
        line-height: 25px;
        margin-bottom: 18px; }

#post .date {
  padding: 3px; }
#post .body {
  padding: 24px 3px 12px 3px; }

#bio {
  margin: 6px;
  padding: 12px;
  border: 2px solid #ffbac9;
  background-color: #ffe3e9;
  width: 500px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #bio .row {
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    position: relative; }
    #bio .row .avatar {
      display: inline-block; }
    #bio .row .name {
      position: absolute;
      bottom: 72px;
      left: 160px;
      font-size: 18px; }
    #bio .row .intro {
      position: absolute;
      top: 32px;
      left: 160px; }
      #bio .row .intro p {
        margin-bottom: 0; }
        #bio .row .intro p.first {
          margin-bottom: 60px; }
  #bio ul.links {
    list-style: none;
    padding-left: 32px;
    padding-bottom: 24px; }
    #bio ul.links li a {
      color: #009aff; }
      #bio ul.links li a:visited {
        color: #009aff; }
      #bio ul.links li a:hover {
        color: #356aa0; }
    #bio ul.links li div {
      display: inline-block;
      width: 70px; }

.low {
  font-family: Palatino, Georgia, "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  text-transform: lowercase;
  color: #666666; }
