<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> 
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{page.title}}</title>
    <meta name="author" content="Tingting" />
    <link rel="stylesheet" href="/assets/blueprint.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/assets/markdown.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/assets/styles.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/assets/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="/assets/script.js"></script>
  </head>

  <body>

    <a href="http://github.com/tingtings"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

    <div class='container'>
      <div id='header'>
        <h1><a href="/">吉川茶褒</a></h1>
        <h4>...</h4>
      </div>

      <div id='content'>{{ content }}</div>

      <div id='footer'>
        <p class='left'>
          Copyright &copy; 2011. All rights reserved.
          <span class="low">by</span>
          <a class='name' href="mailto:venustingting@gmail.com">Tingting</a>
        </p>
      </div>
    </div>

  </body>
</html>
